.vscode/**
.vscode-test/**
.git/**
.gitignore

node_modules/**

src/**
webview/src/**
webview/node_modules/**
webview/package.json
webview/package-lock.json
webview/pnpm-lock.yaml
webview/yarn.lock
webview/tsconfig.json
webview/vite.config.ts
webview/svelte.config.js
webview/index.html

*.map
**/*.map

tsconfig.json
PLAN.md

media/icons/demo.html
media/icons/anemona.icomoon.json