@font-face {
    font-family: "anemona";
    src: url("fonts/anemona.woff2") format("woff2"),
        url("fonts/anemona.ttf") format("truetype"),
        url("fonts/anemona.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
.anemona, [class^="icon-"], [class*=" icon-"] {
    /* Use !important to prevent extensions from overriding this font. */
    font-family: "anemona" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-circle-cancel:before {
    content: "\f088";
}
.icon-circle-solid:before {
    content: "\f46f";
}
.icon-circle-dash:before {
    content: "\f354";
}
.icon-circle-check:before {
    content: "\f364";
}
.icon-circle:before {
    content: "\f51b";
}
.icon-loader-circle:before {
    content: "\f3cc";
}
.icon-smiley-angry:before {
    content: "\fe2a";
}
.icon-smiley-sad:before {
    content: "\fd19";
}
.icon-smiley-meh:before {
    content: "\fe33";
}
.icon-smiley:before {
    content: "\f1f2";
}
.icon-cloud-upload:before {
    content: "\f43a";
}
.icon-cloud-sync:before {
    content: "\f680";
}
.icon-cloud-cog:before {
    content: "\f080";
}
.icon-cloud-check:before {
    content: "\f5c7";
}
.icon-alarm-clock-off:before {
    content: "\f37c";
}
.icon-alarm-clock:before {
    content: "\f37d";
}
.icon-message-circle:before {
    content: "\f485";
}
.icon-info-circle:before {
    content: "\f1a9";
}
.icon-alert:before {
    content: "\f147";
}
.icon-calendar-week:before {
    content: "\f1bb";
}
.icon-grid-2x2:before {
    content: "\f0b9";
}
.icon-list:before {
    content: "\f58e";
}
.icon-calendar-days:before {
    content: "\f009";
}
.icon-calendar:before {
    content: "\f102";
}
.icon-circle-alert:before {
    content: "\f4aa";
}
.icon-alarm-clock-check:before {
    content: "\f507";
}
.icon-bell-solid:before {
    content: "\f478";
}
.icon-bell:before {
    content: "\f199";
}
.icon-category:before {
    content: "\f1ba";
}
.icon-refresh:before {
    content: "\f2cb";
}
.icon-file-input:before {
    content: "\f3e8";
}
.icon-move:before {
    content: "\f474";
}
.icon-home-solid:before {
    content: "\f5b8";
}
.icon-home:before {
    content: "\f2bd";
}
.icon-code-xml:before {
    content: "\f095";
}
.icon-token-security:before {
    content: "\f10a";
}
.icon-code-insert:before {
    content: "\f5c2";
}
.icon-bulb:before {
    content: "\f2d8";
}
.icon-sort-a-z:before {
    content: "\f153";
}
.icon-sort-z-a:before {
    content: "\f189";
}
.icon-qr-code:before {
    content: "\f437";
}
.icon-share:before {
    content: "\f319";
}
.icon-book-lock:before {
    content: "\f1fa";
}
.icon-file-code:before {
    content: "\f0d9";
}
.icon-file-spreadsheet:before {
    content: "\f3f4";
}
.icon-chevron-right:before {
    content: "\f1d4";
}
.icon-chevron-left:before {
    content: "\f04f";
}
.icon-dots-vertical:before {
    content: "\f2a1";
}
.icon-copy:before {
    content: "\f12f";
}
.icon-export:before {
    content: "\ffc8";
}
.icon-import:before {
    content: "\fd0f";
}
.icon-checked:before {
    content: "\f480";
}
.icon-checkbox:before {
    content: "\f313";
}
.icon-folder-open-solid:before {
    content: "\f392";
}
.icon-cog:before {
    content: "\f00f";
}
.icon-sidebar-expand:before {
    content: "\f1d5";
}
.icon-sidebar-collapse:before {
    content: "\f23b";
}
.icon-list-todo:before {
    content: "\f403";
}
.icon-menu:before {
    content: "\f07c";
}
.icon-color-fill:before {
    content: "\f02d";
}
.icon-file-terminal:before {
    content: "\f08d";
}
.icon-file-text:before {
    content: "\f459";
}
.icon-file-key:before {
    content: "\f595";
}
.icon-file-lock:before {
    content: "\f042";
}
.icon-trash-alt:before {
    content: "\f1f8";
}
.icon-terminal:before {
    content: "\f271";
}
.icon-paste:before {
    content: "\f21e";
}
.icon-check:before {
    content: "\f163";
}
.icon-x:before {
    content: "\f0c6";
}
.icon-user:before {
    content: "\f31b";
}
.icon-undo:before {
    content: "\f093";
}
.icon-slider-alt:before {
    content: "\f161";
}
.icon-show:before {
    content: "\f291";
}
.icon-search-alt:before {
    content: "\f10b";
}
.icon-plus:before {
    content: "\f1dd";
}
.icon-envelope:before {
    content: "\f225";
}
.icon-folder:before {
    content: "\f094";
}
.icon-lock-alt:before {
    content: "\f124";
}
.icon-lock-open-alt:before {
    content: "\f180";
}
.icon-key:before {
    content: "\f001";
}
.icon-key-solid:before {
    content: "\f4ec";
}
.icon-hide:before {
    content: "\f137";
}
.icon-globe:before {
    content: "\f2ad";
}
.icon-group-solid:before {
    content: "\f52c";
}
.icon-food-menu-solid:before {
    content: "\f5bd";
}
.icon-edit-alt:before {
    content: "\f1c4";
}
.icon-chevron-up:before {
    content: "\f05f";
}
.icon-chevron-down:before {
    content: "\f26f";
}
.icon-arrow-back:before {
    content: "\f1f4";
}